<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{url_for( 'static', filename='./css/signup.css' )}}>
</head>

<body>
    <meta charset="utf-8" />
    <div data-gjs="navbar" class="navbar">
        <div class="navbar-container"><a href="/" class="navbar-brand">THE POONA BANK</a>
            <div id="i6ajjz" class="navbar-burger">
                <div class="navbar-burger-line"></div>
                <div class="navbar-burger-line"></div>
                <div class="navbar-burger-line"></div>
            </div>
            <div data-gjs="navbar-items" class="navbar-items-c">
                <nav data-gjs="navbar-menu" class="navbar-menu"></nav>
            </div>
        </div>
    </div>
    <form method="post" action="/signup" class="form">
        <div class="form-group"><label class="label">Name</label><input placeholder="Type here your name" required="" name="name" class="input" /></div>
        <div class="form-group"><label class="label">Email</label><input type="email" placeholder="Type here your email" required="" name="email" class="input" /><label class="label">Phone Number</label><label class="label"></label><label class="label"></label><label class="label"></label><input
                type="text" placeholder="Type here your Phone Number" required="" name="phone" class="input" /><label class="label">Adhar
        Card</label><input type="number" placeholder="Type here your Adhar Card Number" required="" name="adhar_card" class="input" /><label class="label">Pan Card No.</label><input type="text" placeholder="Type here your Pan Card Number" required=""
                name="pan_card" class="input" /><label class="label">Password</label><input type="password" placeholder="Create Password" required="" name="password" class="input" /></div>
        <div class="form-group"><label class="label">Gender</label><input type="checkbox" value="M" class="checkbox" /><label class="checkbox-label">M</label><input type="checkbox" value="F" class="checkbox" /><label class="checkbox-label">F</label></div>
        <div class="form-group"></div>
        <div class="form-group"><button type="submit" class="button">Create Account</button></div>
    </form>
</body>
<html>